body {
    background-color: beige;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.contenedor {
    
}
.titulo {
    background-color: rgb(159, 159, 159);
    text-align: center;
    font: 700;
    color: aliceblue;
    width: 32.95%;
    height: auto;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    border-radius: 6px;
    font-family: 'Courier New', Courier, monospace;
    
}
.eframe {
    background-color: aliceblue;
    height: 600px;
    width: 32.95%;
    border-radius: 10px;
    border-color: antiquewhite;
    border-style:double;
    margin: 0px;
    padding: 0px;
}
.mesa {}
