*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    display: block;
    position: static;

    width: 50%;
    height: auto;
    margin: 50px auto;

    list-style: none;
    border: 1px solid #000;
    border-radius: 8px;
}

li{
    padding: 15px;
    border-bottom: 1px solid #000;
}

li:last-child{
    border-bottom: none;
}

li:hover{
    background-color: #91929227;
}

li a{
    text-decoration: none;
    display: flex;
}

.left {
    width: 10%;
}

.content{
    padding: 0 5px;
    width: 80%;
}

.content h3{
    color: #212529;
    font-weight: bold;
}

.content p{
    color: #212529;
}

.rigth{
    width: 10%;
    text-align: right;
}

img{
    width: 32px;
    height: 32px;
    border-radius: 100%;
}